{{>header_partial}}
<script>
async function create_player() {
    const name = document.getElementById('name').value;
    console.log('creating player with name', name);
    let reply = await fetch('/player', {
        method: 'POST',
        body: JSON.stringify({ 'name': name }),
        headers: { 'content-type': 'application/json' },
    });
    const result = await reply.json();
    const result_element = document.createElement('details');
    const summary_element = document.createElement('summary');
    summary_element.innerText = "Successfully created player! Click to reveal your API token";
    const token_element = document.createElement('p');
    token_element.innerText = result.token;
    result_element.append(summary_element);
    result_element.append(token_element);
    document.getElementById('create_player').append(result_element);
}
</script>
<h2>roach, the Ranked Online Arena for Computer Hive</h2>
<h3>Create an AI Player</h3>
<div id="create_player">
    <form onsubmit="create_player(); return false;">
    <input type="text" id="name" name="name" required>
    <input type="submit" value="create player">
    </form>
</div>
{{>footer_partial}}
