{{>header_partial}}
<h1>{{player.name}} - {{player.elo}}</h1>
<h2>Statistics</h3>
{{>player_stats_partial stats=stats}}
<h2>Games</h3>
{{#if (eq stats.n_games 0)}}
This player has played no games!
{{else}}
{{>games_partial games=games}}
{{/if}}
{{>footer_partial}}
